{% extends "RevizFrontBundle:Layouts:studentDash.html.twig" %}

{% block content %}

    <span><a href="{{ path('student_category_show', { 'id' : category.getId() }) }}">Retour</a></span>

    <h2>{{ method.title }}</h2>

    <p>{{ method.content }}</p>

{% endblock content %}