{% extends "RevizFrontBundle:Layouts:studentDash.html.twig" %}

{% block content %}

    <span><a href="">Retour</a></span>

    <h2>{{ method.title }}</h2>

    <p>{{ method.content }}</p>

{% endblock content %}