{% extends "RevizFrontBundle:Layouts:studentDash.html.twig" %}


{% block content %}
    <ul>
    {% for name, categories in modules %}
        <li class="nav-level">{{ name }}
            <ul>
                {% for category in categories %}
                    <li class="nav-category"><a href="{{ path('student_category_show', {'id' : category.id}) }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% endblock content %}
