<!DOCTYPE html>
    <html>
    <head>
        {% block head %}
            <link rel="stylesheet" href="style.css" />
            <title>{% block title %}{% endblock %} - My Webpage</title>
        {% endblock %}
    </head>

    <body>
        <header id="main-header">
            <section id="header-top">
                <section class="header-top--login-bar">
                    <h1 class="main-logo">Maths'nifique</h1>
                    <div>
                        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                        <a href="{{ path('fos_user_registration_register') }}">S'inscrire</a>
                        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                            <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                        {% endif %}
                    </div>
                </section>
                <section class="header-top--nav-bar">

                    {% include "RevizFrontBundle:Partials:nav.html.twig" %}

                </section>
            </section>
            <section id="header-image">
                <img src="{{ asset('assets/img/header-bg.jpg') }}" alt="Image fond header" class="header-image--img">
            </section>
        </header>

        <main>
            {% block content %}

            {% endblock content %}
        </main>

    </body>
</html>