{% extends "RevizFrontBundle:Layouts:master.html.twig" %}

{% block content %}

    <section id="info">
        <h2 class="section-title">Ce que nous proposons</h2>
        <ul class="formula-list">
            <li>
                <h3 class="list-title">Méthodes</h3>
                <span class="list-number">{{ resourses[2] }}</span>
                <p class="italic">De nombreuses méthodes pour bien réussir ces examents</p>
            </li><!--
         --><li>
                <h3 class="list-title">Cours</h3>
                <span class="list-number">{{ resourses[1] }}</span>
                <p class="italic">De nombreuses méthodes pour bien réussir ces examents</p>
            </li><!--
         --><li>
                <h3 class="list-title">Exercices</h3>
                <span class="list-number">{{ resourses[3] }}</span>
                <p class="italic">De nombreuses méthodes pour bien réussir ces examents</p>
            </li>
        </ul>
    </section>

    <section id="formula">
        <h2 class="section-title">Ce que nous proposons</h2>
        <ul>
            <li>
                <h2 class="formula-title">Formule module+</h2>
                <p class="formula-description">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition
                    et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                    l'imprimerie depuis les années 1500, quand un peintre anonyme assembla
                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <ul class="formula-list">
                    <li>Correction par un prof</li>
                    <li>Suivi</li>
                    <li>Cours, exercices, méthodes, QCM</li>
                </ul>
                <span>30 euros</span>
            </li><!--
         --><li>
                <h2 class="formula-title">Formule parcours+</h2>
                <p class="formula-description">
                    Le Lorem Ipsum est simplement du faux texte employé dans la composition
                    et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de
                    l'imprimerie depuis les années 1500, quand un peintre anonyme assembla
                    ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte.
                </p>
                <ul class="formula-list">
                    <li>Correction par un prof</li><!--
                 --><li>Suivi</li><!--
                 --><li>Cours, exercices, méthodes, QCM</li>
                </ul>
                <span>30 euros</span>
            </li>
        </ul>
    </section>

    <section id="questions">
        <h2 class="section-title">Les questions que vous vous posez.</h2>
        <ul class="questions-title">
            <li>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition</p>
            </li><!--
         --><li>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition</p>
            </li><!--
         --><li>
                <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition</p>
            </li>
        </ul>
    </section>

    <aside id="actu">
        <h2 class="section-title">Toute l'actualité</h2>
        <div class="actu-flux">

        </div>
    </aside>
{% endblock content %}

