<div class="sidebar-container--image">
    <img class="admin-image" src="" alt="image de l'utilisateur">
    <p><a href=""><img src="sidebar-picto--email" alt="picto enveloppe pour email"></a></p>
    <p class="admin-status">Admin</p>
</div>
<ul class="sidebar-navigation">
    <li><a href="{{ path('back_homepage') }}">Tableau de bord</a></li>
    <li>
        <a href="">Taxonomy</a>
        <ul>
            <li><a href="{{ path('admin_level_index') }}">Level</a></li>
            <li><a href="{{ path('admin_module_index') }}">Module</a></li>
            <li><a href="{{ path('admin_category_index') }}">Catégorie</a></li>
        </ul>
    </li>
    <li>
        <a href="">Cours</a>
        <ul>
            <li><a href="">Ajouter</a></li>
        </ul>
    </li>
    <li>
        <a href="">Méthodes</a>
        <ul>
            <li><a href="">Ajouter</a></li>
        </ul>
    </li>
    <li>
        <a href="">Exercices</a>
        <ul>
            <li><a href="">Ajouter</a></li>
        </ul>
    </li>
    <li>
        <a href="">Corrigés</a>
        <ul>
            <li><a href="">Ajouter</a></li>
        </ul>
    </li>
    <li>
        <a href="">Meet-up</a>
        <ul>
            <li><a href="">Ajouter</a></li>
        </ul>
    </li>
    <li>
        <a href="">Commentaires</a>
    </li>
    <li>
        <a href="">Utilisateurs</a>
    </li>
    <li>
        <a href="">Vidéos</a>
    </li>
</ul>