<nav class="main-nav">
    <ul>
        <li><a href="">Formation</a></li>
        <li><a href="">F.A.Q</a></li>
        <li><a href="">A propos</a></li>
        <li><a href="">Contacts</a></li>
    </ul>
</nav>